body {
    background-color: rgb(200, 200, 200);
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

.caixa_1, .caixa_2, .caixa_3, .caixa_4 {
    width: 250px;
    height: 250px;
    background-color: rgb(25, 25, 25);
    position: absolute;
    float: left;
}

.caixa_1 {
    top: 0;
    left: 0;
}

.caixa_2 {
    top: 0;
    right: 0;
}

.caixa_3 {
    bottom: 0;
    left: 0;
}

.caixa_4 {
    bottom: 0;
    right: 0;
}